.header{
	display: flex;
	justify-content: space-around;
	h2{
		margin-right: 20%;
		margin-top: 0.8%;
		font-weight: normal;
		font-family: 'Roboto' sans-serif;
	}
	p{
		margin-top: 1.5%;
		font-size: 80%;
	}
}


.welcome{
	display: flex;
	background-color: #446DFF;
	justify-content: center;
	font-size: 160%;
	color: white;
}