@import './colors/colorCodes.scss';
@import './fontStyles/fontStyles.scss';

@mixin convert {
	height: 38%;
	width: 112%;
	margin-left: -8%;
}

.header{
	height: 4pc;
	display: flex;
	justify-content: space-around;
	a{
		color: $black;
		text-decoration: none;
		font-size: 120%;
		font-weight: bold;
		font-family: $lato;
		margin-top: 1%;
	}
	li{
		list-style: none;
		font-size: 70%;
		margin-top: 17%;
		font-family: $lato;
		font-weight: light;
	}
}

.welcome{
	display: flex;
	background-color: $blue;
	justify-content: center;
	font-size: 160%;
	color: $white;
}

.quantity-button{
	display: flex;
	// justify-content: center;
	justify-content: space-evenly;
	width: 50%;
	margin-left: 25%;
	padding-top: 0.2%;
}

.quantity{
	width: 150px;
	height: 140px;
	// padding: 15%;
	border-radius: 5%;
	border-style: none;
	background-color: transparent;
	background-image: './assert/beaker.svg';
	// width: inherit;
	p{
		margin-bottom: 1%;
		color: grey;
	}
}

.type{
	margin-top: 5%;
	margin-left: 32.5%;
}

.choose-type{
	margin-top: -1%;
}

.conversion{
	padding-top: 5%;
	input{
		@include convert();
		border-color: 1px solid grey;
	}
	select{
		@include convert();
		width: 116%;
	}
	p{
		margin-left: -7%;
	}
}

.button1{
	// color: #446DFF;
	width: 10%;
}