$active-scale-icon:url('../asserts/scale.svg');
$inactive-scale-icon:url('../asserts/scale-1.svg');
$active-hot-icon:url('../asserts/hot-1.svg');
$inactive-hot-icon:url('../asserts/hot.svg');
$active-beaker-icon:url('../asserts/beaker.svg');
$inactive-beaker-icon:url('../asserts/beaker-1.svg');
$active-weight-icon:url('../asserts/weight-1.png');
$inactive-weight-icon:url('../asserts/weight.png');

@import './colors/colorCodes.scss';
@import './fontStyles/fontStyles.scss';

@mixin convert {
	height: 50px;
	width: 257px;
	margin-left: 6%;
}

@mixin  buttonIcon {
	background-position: center;
	background-position-y: 35%;
	background-repeat: no-repeat;
	width: 11.8vw;
	height: 10vw;
	// width: 300px;
	// height: 130px;
	background-color: $white;
	border-radius: 6%;
	p{
		text-align: center;
		margin-top: 60%;
		color: $feild-color;
		font-weight: bolder;
		font-size: 1vw;
	}
}

@mixin scaleIcon {
	background-image: $active-scale-icon;
	@include buttonIcon();
	border: 1px solid $scale-color;
	outline: none;
	background-color: $scale-background;
	p{
		color: $scale-color;
	}
}

@mixin hotIcon {
	background-image: $active-hot-icon;
	@include buttonIcon();
	border: 1px solid $hot-color;
	outline: none;
	background-color: $hot-background;
	p{
		color: $hot-color;
	}
}

@mixin beakerIcon {
	background-image: $active-beaker-icon;
	@include buttonIcon();
	border: 1px solid $beaker-color;
	outline: none;
	background-color: $beaker-background;
	p{
		color: $beaker-color;
	}
}

@mixin weightIcon {
	background-image: $active-weight-icon;
	@include buttonIcon();
	border: 1px solid $weight-color;
	outline: none;
	background-color: $weight-background;
	p{
		color: $weight-color;
	}
}

.main-window{
	background-color: $light-white-grey;
	height: 100vh;
}

.header{
	height: 4pc;
	display: flex;
	justify-content: space-between;
	background-color: $white;
	a{
		color: $black;
		text-decoration: none;
		font-size: 120%;
		font-weight: bolder;
		font-family: $lato;
		margin-top: 1%;
		margin-left: 15%;
	}
	li{
		list-style: none;
		font-size: 70%;
		margin-top: 17%;
		font-family: $lato;
		font-weight: light;
		margin-left: -430%;
	}
}

.welcome{
	display: flex;
	background-color: $blue;
	font-size: 160%;
	color: $white;
	p{
	margin-left: 28%;
	word-spacing: 5px;
	}
}

.quantity-button{
	display: flex;
	justify-content: space-between;
	position: relative;
	// flex-wrap: wrap-reverse;
	width: 50%;
	margin-left: 25%;
}

.default-button{
	@include scaleIcon();
}

img{
	width: 11.8vw;
	height: 10vw;
}

.Length{
	background-image: $inactive-scale-icon;
	@include buttonIcon();
}

@for $var from 0 to 4 {
	.Length#{$var} {
		background-image: $inactive-scale-icon;
	@include buttonIcon();
	}
	.Length#{$var}:hover{@include scaleIcon();}
}

.Length0{
	@include scaleIcon();
}

@for $var from 0 to 4 {
	.Temperature#{$var} {
		background-image:  $inactive-hot-icon;
	@include buttonIcon();
	}
	.Temperature#{$var}:hover{@include hotIcon();}
}

.Temperature3{
	@include hotIcon();
}

@for $var from 0 to 4 {
	.Volume#{$var} {
		background-image: $inactive-beaker-icon;
	@include buttonIcon();
	}
	.Volume#{$var}:hover{@include beakerIcon();}
}

.Volume2{
	@include beakerIcon();
}

@for $var from 0 to 4 {
	.Weight#{$var} {
		background-image: $inactive-weight-icon;
		width: 50pt;
		height: 50pt;
	@include buttonIcon();
	}
	.Weight#{$var}:hover{@include weightIcon();}
}

.Weight1{
	@include weightIcon();
}

.quantity{
	width: fit-content;
	border-style: none;
	background-color: transparent;
	outline: none;
}

.type{
	margin-top: 5%;
	margin-left: 27.7%;
	font-weight: bold;
}

.choose-type{
	margin-top: -1%;
}

.conversion{
	padding-top: 2%;
	position: relative;
	margin-left: 2%;
	input{
		@include convert();
		border-color: 1px solid $border-color;
		margin-left: -0.27%;
		font-weight: 600;
		font-size: 180%;
		padding: 0em 0em 0em 0.9em;
	}
	p{
		color: $border-color;
		font-weight: 550;
		position: relative;
		font-size: 80%;
		color: $black;
	}
	select {
		@include convert();
		width: 100%;
		height: 50px;
		display: block;
		font-size: 14px;
		font-family: sans-serif;
		font-weight: 600;
		padding: .6em 9.9em .5em 1.9em;
		max-width: 100%;
		box-sizing: border-box;
		margin: 0;
		border: 1px solid $feild-color;
		background-repeat: no-repeat, repeat;
		background-position: right .7em top 50%, 0 0;
		background-size: .65em auto, 100%;
	}
	select:focus {
		border-color: $feild-color;
		outline: none;
	}
	select option {
		font-weight:600;
	}
}

td{
	border: 1px solid $grey;
	width: 23vw;
	text-align: center;
	height: 3vw;
}

th{
	width: 23vw;
	height: 2.5vw;
}

@media only screen and (max-width: 608px) {
	.welcome{
		display: flex;
		p{
			margin-left: 20%;
		}
	}

	.conversion{
		select{
			margin-left: -0.1%;
		}
	}
  }

  @media only screen and (max-width: 568px) {
	  .main-window{
		  height:100%;
	  }
	  .header{
		  li{
		  margin-left: -200%;
		  }
	  }
	  .welcome{
		  p{
			  margin-left: 12%;
		  }
	  }
	  .choose-type{
		  margin-left: 11%;
	  }
	  .quantity-button{
		  flex-direction: column;
		  margin-left: 35%;
	  }
	  .conversion{
		  input{
			  width: 28vw;
		  }
		  select{
			  width: 33.5vw;
			  font-size: 60%;
		  }
	  }
  }

  @media only screen and (max-width: 475px){
	.welcome{
		P{
			margin-left: 7%;
		}
	}
	.conversion{
		input{
			width: 31vw;
		}
		select{
			width: 37vw;
			font-size: 60%;
		}
	}
  }

  @media only screen and (max-width: 475px){
	  .welcome{
		  text-align: center;
	  }
	  .quantity-button{
		margin-left: 26%;
	  }
	  .conversion{
		  select{
			  width: 37.5vw;
		  }
	  }
  }

  @media only screen and (max-width: 422px){
	  .conversion{
		  width: 105%;
		  input{
			  width: 65%;
		  }
		  select{
		  width: 78%;
	  }
	}
  }

  @media only screen and (max-width: 393px){
	  .conversion{
		  input{
			  width: 70%;
		  }
		  select{
			  width: 84%;
		  }
	  }
  }

  @media only screen and (max-width: 375px){
	.conversion{
		input{
			width: 73%;
		}
		select{
			width: 88%;
		}
	}
}

@media only screen and (max-width: 375px){
	.conversion{
		input{
			width: 85%;
		}
		select{
			width: 690vw;
		}
	}
}