$black:#000000;
$blue:#446DFF;
$white:#ffffff;
$light-white-grey:#F5F6FA;
$border-color:#00000029;
$feild-color:#aaaaaa;
$grey:#919090;
$scale-color: #0EC098;
$scale-background : #EDFDF9;
$hot-color: #FD5160;
$hot-background : #FFEEF0;
$beaker-background: #E8DDFF;
$beaker-color : #7224FF;
